.results {
  display: flex;
  flex-direction: column;
  padding: 80px 102px;
  background-color: #f5f6f7;
}

.results__title {
  margin-bottom: 64px;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.results__cards {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 16px;
  justify-content: center;
}

.results__button {
  display: flex;
  width: 288px;
  height: 64px;
  opacity: 1;
  border: none;
  border-radius: 999px;
  font-family: 'Roboto';
  font-size: 18px ;
  font-weight: 500;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 64px;
  background-color: white

}

.results__button:hover {
  background-color: #E8E8E8;
}
