.card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  max-height: 576px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card__image--wrapper {
  min-height: 272px;
  height: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;
  position: relative;
}

.card__image {
  object-fit: cover;
  object-position: center;
  display: block;
  width: 100%;
  min-height: 276px;
  /* height: 100%; */
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  height: 100%;
}

.card__date {
  font-size: 18px;
  color: #b6bcbf;
  font-family: 'Inter';
  font-weight: 400;
}

.card__title {
  font-size: 26px;
  font-family: 'Roboto Slab';
  font-weight: 400;
  line-height: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__description {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #1a1b22;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__publisher {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #b6bcbf;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* position: absolute;
  margin-top: 250px; */
}

.card__bookmark {
  background-image: url('../../assets/images/card-bookmark-normal.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  z-index: 10;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card__bookmark--saved {
  background-image: url('../../assets/images/card-bookmark-marked.svg');
}

.card__bookmark:not(.card__bookmark--saved):hover {
  background-image: url('../../assets/images/card-bookmark-hover.svg');
}

.card__sign-in {
  z-index: 10;
  width: 182px;
  height: 40px;
  position: absolute;
  background-color: white;
  top: 16px;
  right: 62px;
  border: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  border-radius: 10px;
  cursor: pointer;
}
