.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f7;
  height: 282px;
}

.preloader__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.preloader__circle {
  width: 74px;
  height: 74px;
  border: 1px solid #1a1b22;
  border-bottom-color: #d1d2d6;
  border-radius: 50%;
  animation: spin 0.85s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.preloader__text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #b6bcbf;
}

.preloader__image {
  background-image: url('../../assets/images/not-found-image.png');
  background-repeat: no-repeat;
  width: 82px;
  height: 82px;
}

.preloader__not-found {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  margin-top: 10px;
}

.preloader__not-found--text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  color: #b6bcbf;
  line-height: 24px;
}
