/* NOT LOGGED IN */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 0 104px;
  height: 80px;
  width: 100vw;
  z-index: 10;
  border-bottom: 1px solid white;
  background-color: transparent;
  flex-wrap: nowrap;
  min-width: 0;
}

.header__logo {
  font-size: 20px;
  line-height: 24px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.header__center {
  display: flex;
  align-items: center;
  gap: 42px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 42px;
  font-size: 18px;
  line-height: 24px;
  color: white;
  flex-wrap: nowrap;
}

.header__nav-item {
  font-size: 18px;
  line-height: 24px;
  color: white;
  font-family: 'Roboto';
  font-weight: 500;
  position: relative;
  padding-bottom: 26px;
  text-decoration: none;
  flex-wrap: nowrap;
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  margin-top: 30px;
}

.header__button--wrapper {
  display: flex;
  flex-shrink: 0;
}

.header__button--signin {
  width: 176px;
  height: 48px;
  background-color: transparent;
  border-radius: 999px;
  font-size: 18px;
  line-height: 24px;
  color: white;
  border: solid 1px white;
  font-family: 'Roboto';
  font-weight: 500;
  cursor: pointer;
}

.header__nav-item.active::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 150%;
  height: 3px;
  background-color: white;
  border-radius: 999px;
}

.header__button--signout {
  display: flex;
  height: 48px;
  width: 100%;
  border: 1px solid white;
  color: white;
  border-radius: 999px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 15px;
}

.header__button--icon {
  background-image: url('../../assets/images/logout-white.svg');
  height: 24px;
  width: 24px;
}

/* SAVED ARTICLES PAGE */
.header--saved-articles {
  background-color: white;
}

.header__logo--saved-articles {
  color: black;
}

.header__nav--saved-articles {
  color: black;
}

.header__nav-item--saved-articles {
  color: black;
}

.header__nav-item--saved-articles.active::after {
  background-color: black;
}

.header__button--signout--saved-articles {
  color: black;
  border: 1px solid black;
}

.header__button--icon--saved-articles {
  background-image: url('../../assets/images/logout-black.svg');
}


@media (max-width: 786px) {
  .header__logo {
    font-size: 14px;
  }
}
