.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: white;
  color: #999;
  padding: 32px 104px;
}

.footer__right {
  display: flex;
  align-items: center;
}

.footer__nav {
  display: flex;
  gap: 40px;
  margin-right: 40px;
}

.footer__link {
  text-decoration: none;
  color: #000;
}

.footer__icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url('../../assets/images/github.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
